# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
.venv/
env/
ENV/
**/venv/
**/.venv/

# Pytest cache
.pytest_cache/

# IDE settings
.vscode/
.idea/

*.log
*.pyc
